# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Environments
.env
venv/
.venv/

# Project Specific
output/*
!output/.gitkeep
config.yaml

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
